* {
    padding: 0px;
    margin: 0px;
}

/*.container {
    height: 100%;
    width: 100%;
    background-color: green;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0% 100%);
    position: absolute;
}
.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}*/
.menu-container {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    color: white;
}

.align {
    text-align: justify;
    color: red;
    font-size: 50px;
    font-style: italic;
}

.banner-img {
    float: right;

    height: 50%;
    width: 50%;
    display: block;
}

.banner-container {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: black;
    color: white;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 30px;
}

.img1 {
    height: 500px;
    width: 400px;
    margin-bottom: 100px;
    padding-right: 50px;
    margin-right: 500px;
}

.banner-text {
    color: red;
    font-size: 25px;

}

.tittle1 {
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}

.banner-img {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.menu-items {
    display: flex;
}

.menu-items li {
    list-style: none;
    margin: 5px;
    padding: 15px;
    font-size: 20px;
}

.menu-items li:hover {
    color: darkred;
    cursor: pointer;
}

.text {
    font-size: 25px;
    margin: 10px;
}

.banner-btn {
    padding: 15px 30px;
    background-color: red;
    font-size: 12px;
    color: white;
}

.card1 {
    width: 300px;
    height: 200px;
    border: 1px solid gray;
    text-align: center;
    box-shadow: 8px 8px 16px red;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    transition: .8ms;
    color: white;

}

.card1:hover {
    border: 1px solid darkred;
    margin-top: -15px;
    transition: .8ms;
}

.section-two {
    margin-top: 70px;
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: black;
}

.title2 {
    text-align: center;
    font-size: 40px;
    font-weight: solid;
    margin-bottom: 20px;
    margin-top: 70px;
    background-color: red;
    padding: 20px;
    margin-left: 450px;
    margin-right: 450px;
    border-radius: 10px;
    box-shadow: white;
}

.gym-icon {
    width: 50px;

}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    margin-top: 65px;
}

.about-left {
    width: 700px;

}

.about-right {
    width: 700px;

}

.workout-image img {
    width: 250px;
    height: 450px;
    transform: skewY(-15deg);
}

.workout-image {
    display: flex;
    margin-top: 35px;
    margin-bottom: 30px;
}

.btn-text {
    text-decoration: none;
    color: white;
}

.workout-container {
    width: 850px;
    height: 550px;
    /*background-color:black;*/
    background-image: url(./images/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;




}